body{
  background-color: lightgrey;
}

h1{
  color: darkseagreen;
  font-size: 90px;
  text-decoration: underline;
}

h2{
  font-size: 22px;
  color: fuchsia;
}

.small{
  font-size: 12px;
}

#first{
  font-size: 150px;
}

span{
  font-style: italic;
  color: navy;
}

h2 span{
  text-decoration: line-through;
}

.uppercase{
  text-transform: uppercase;
}

.small.uppercase{
  color: navy;
}


